@import '../../styles/variables.scss';

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: $font-size-medium-body;
	line-height: $line-height-medium-body;
	color: $black;
	cursor: pointer;
	background-color: unset;

	&.dark {
		color: $white;
	}

	svg {
		margin-left: 6px;
	}
}

.menu {
	max-width: 238px;
	background-color: red;

	&.dark {
		background-color: $darker-grey;
	}
}

.featured {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 12px;

	svg {
		margin-right: 12px;
	}
}
